body{
    height: 900px;
    padding: 0;
    margin: 0;
}

header{
    padding: 20px;
    text-align: center;
    height: 100px;
}

main{
    background-color: #2d40e2;
    padding: 20px;
    height: 700px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

footer{
    background-color: #d4284d;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 100px;
}