body{
    background-color: #b1b4b8;
    width: 100%;
    
}

header{
    background-color: rgb(107, 107, 172);
    width: 20%;
}

main{
    background-color: rgb(137, 209, 185);
    width: 70%;
}

footer{
    background-color: rgb(177, 55, 130);
    width: 10%;
}