{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}My App{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}My App{% endblock %}</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <h2> c'est le pied de page</h2>
    </footer>
</body>
</html>